footer{
    position: fixed;
    /* z-index: 10; */
    display: flex; 
    justify-content: space-around;
    width: 100%;
    bottom: 0%;
    margin: 0%;
    padding: 0%;
    background-color: rgba(99, 91, 91, 0.09);
}
#footer ul{
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    bottom: 0%;
}

#footer a{
    width: 100%;
    margin: 0%;
}

#footer ul a:hover{
    opacity: 0.6;
    }

   #footer svg{
    fill: rgba(252, 252, 252, 0.31);
    width: 8vmin;
    height: 8vmin;
    margin: 10px;
   }

   @media screen and (max-width:700px) {
   
       .cards{
        height: fit-content;
       }
       .diff{
        background-color: #00e280;
        margin-top: 20px;
      }
   }
   @media screen and (min-width:701px) {
   
    
}
