nav {
    position: relative;
    display: flex;
   
}

#navbar{
  position: relative;
    display: flex;
    list-style-type: none;

}

#nav1{
background-color: #1f1c1c5b;
backdrop-filter: blur(2px)
}
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    /* font-family: "Commissioner", sans-serif; */
    text-transform: uppercase;
    font-size: 2vmin;
    font-weight: 200;
    font-style: normal;
}

#navMob{
  margin-bottom: 20px;
}

#navbar a:hover{
color: rgb(26, 173, 206);
}


/* media querry */

@media screen and (max-width:600px) {
    #navbar{
        display: none;
    }
  
}
@media screen and (max-width:1200px) {
    #navbar{
        display: none;
    }
    
}

@media screen and (min-width:1200px) {
   
  #navMob{
        display: none;
      }
}
  



/* cursor */
.cursor-dot {
    width: 1vmin;
    height: 1vmin;
    background-color: rgba(255, 255, 255, 0.404);
}

.cursor-outline {
    width: 10vmin;
    height: 10vmin;
    border: 2px solid rgba(244, 244, 244, 0.632);
    transition: all ease 0.09s;
}


.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}



/* .......................moblie navbar ......................*/

  a{
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: #ffffff;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;

  }
 #menu a:hover {
    opacity:0.5;
  }
  ul{
    padding: 0;
    list-style-type: none;
  }
  

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-selezzzzzct: none;
    user-select: none;
    margin-bottom: 16px;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
  
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fffbfba1;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
   
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #14cbc5;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    text-transform: uppercase;
    width: 102vmin;
    height: 94.5vh;
    box-shadow: 0 0 10px #83838300;
    margin: -50px 0 0 -50px;
    padding: 80px;
    padding-top: 125px;
    background-color: #000000bc;
    backdrop-filter: blur(4px);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 30px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

