*{
  box-sizing: border-box;
  cursor: none;
}
body{
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1651647232601-fbea5b6cca0d?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  color: white;
  margin: 0%;
  padding: 0%;
}